<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tormi Viirg, veebiprogrammeerimine</title>
	<script src="first.js" defer></script>
</head>
<body>
	<img src="../~rinde/media/pics/banner/vp_banner_2023.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1><%= h1%></h1>
	<ol>
		<!-- <% names.forEach(function(sentence){%> <li>Eesnimi Perekonnanimi, mis salvestati dd.mm.yyyy</li> -->
				<li><%= sentence%></li>
		<%});%>
	</ol>
	<hr>
	<ul>
		<li><a href='/'>avalehele</a></li>
	</ul>
</body>
</html>